<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédextra</title>
  </head>
  <body>
    <header>
      <p>This is the header.</p>
      <nav>
        <img src="{{ url_for('static', filename='images/logo/nav-logo.svg') }}" alt="Pokédextra logo">
      </nav>
    </header>
    <main>
      <p>This is the main content.</p>
      <header>
        <h1>National Pokédex</h1>
        <p>The Complete National Pokédex - All 1,025 Pokémon</p>
      </header>
      <nav>
        <p>FILTER POKÉMON BY</p>
      </nav>
      <main>
        <p>This is the main content section.</p>
      </main>
    </main>
    <footer>
      <p>© 2025 Pokédextra • Pokémon images & names © 1995-2025 Nintendo/Game Freak • Data from
        <a href="https://pokeapi.co/">PokéAPI</a>
      </p>
    </footer>
  </body>
</html>