<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédextra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div id="app">
      <header class="global-header">
        <nav class="header-nav">
          <div class="nav-bar">
            <a href="/">
              <div class="nav-logo">
                <img src="{{ url_for('static', filename='images/logo/nav-logo.svg') }}" alt="Pokédextra logo">
              </div>
            </a>
            <div class="nav-links">
              <!-- add buttons for navigation links here -->
            </div>
          </div>
        </nav>
      </header>
      <main>
        <header class="content-header">
          <div class="pokedex-header">
            <div class="pokedex-header-text">
              <h1>National Pokédex</h1>
              <p>The Complete National Pokédex - All 1,025 Pokémon</p>
            </div>
          </div>
        </header>
        <nav class="pokedex-nav">
          <div class="pokedex-filter">
            <p>FILTER POKÉMON BY</p>
          </div>
        </nav>
        <main>
          <div class="pokedex-grid">
            <p>Pokémon Grid</p>
          </div>
        </main>
      </main>
      <footer>
        <div class="footer-links">
          <!-- add buttons for footer links here -->
        </div>
        <div class="footer-copyright">
          <p>© 2025 Pokédextra • Pokémon images & names © 1995-2025 Nintendo/Game Freak • Data from
            <a href="https://pokeapi.co/">PokéAPI</a>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>